#shopname{
  color:palevioletred;
  }

html{
  scroll-behavior:smooth;
  }

nav{
  text-align:center;
}

hr{
  border:1px solid lightpink;
  margin:80px auto;
  }

#header-img{
  background-image:url('https://img.freepik.com/free-photo/elevated-view-fresh-donuts-row-pink-backdrop_23-2147909304.jpg?semt=ais_hybrid&w=740&q=80');
  background-size:cover;
  background-position: center -500px;
  width:100%;
  background-repeat: no-repeat;
  height:400px;
  padding-top: 150px;
  font-family:Consolas;
  font-size:60px;
  color: rgb(87, 20, 56);
  margin:0;
  }

.button{
  display:block;
  margin:30px auto;
}

#menu-button{
  width:300px;
  height:50px;
  background-color:white;
  border:3px solid pink;
  border-radius:25px;
  text-decoration:none;
  color:black;
  line-height:10px;
  margin-top:50px;
  }

#order-button{
  width:300px;height:50px;
  border:3px solid pink;
  border-radius:25px;
  text-decoration:none;
  color:black;
  background-color:white;
  line-height:10px;
}

#section-h2{
  text-align:center;
  background-color:rgba(249, 162, 162, 0.411);
  height:30px;
  padding-top:5px;
  border-radius:15px;
  margin-top:50px;
}

.menu-img {  
  width: 5cm;
}

.arrangement{
  display:inline-block;
  margin:5px;
}

.description{
  display:inline-block;
  width:10cm;
  vertical-align:top;
  margin:25px;
}

.flavor-order{
  border:2px solid rgba(212, 193, 204, 0.568);
  border-radius:10px;
  padding:20px;
  width:500px;
  margin:60px;
  display:inline-block;
}

input[type="number"]{
  width:100px;
  height:20px;
  border-color: white;
  border-radius:10px;
  margin-bottom:10px;
}

textarea{
  width:100%;
}

.order-arrangement{
  display:inline-block;
}

.name{
  font-size:25px;
  font-family:Consolas;
}

input[type="submit"]{
  border-radius:20px;
  font-weight: 600;
  border:0;
  background-color:rgb(247, 202, 202);
  width:30%;
  height:30px;
  cursor:pointer;
}

footer{
  font-size: 10px;
  color:rgba(128, 128, 128, 0.301);
}